@page "/counter"
@inherits AppComponent

<h1>Counter</h1>

<p>Current count: @State.Count</p>

<button class="btn btn-primary" @onclick="@(() => Dispatch(MyMessage.OtherState))">Click me</button>

<input @onchange="@(value => Dispatch(MyMessage.NewAsyncDirect((string)value.Value)))" />

<button @onclick="@(() => Dispatch(MyMessage.NewTest("testvalue", false)))">Test</button>

<button @onclick="@(() => Dispatch(MyMessage.NewStateResponse(new global::Shared.Request { Success = true, Message = "GetResponse" })))">GetResponse</button>

@State.Name

<p>Location: @State.Location</p>